  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);
    background-color: var(--background-navbar);
    transition: all .5s;
  }
  
  .text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-weight: 900;
  }
  
  .icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #fff;
  }
  
  .icon-f {
    margin: 5px;
    cursor: pointer;
    color: #B00000;
  }
  .icon-f:hover {
    color: #fff;
}
  
  @media (min-width: 1200px) {
    .footer-container {
      width:89vw;
      margin-left: 149.5px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .col-sm{
      font-size: 15px;
      width: 100%;
    }
  }

  @media (max-width: 1279px) and (min-width: 720px) {
    .footer-container {
      width:100vw;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  
  @media (max-width: 1281px) and (min-width: 720px) and (orientation: landscape) {
    .footer-container {
        width:89vw;
        margin-left: 140px;
        padding-top: 5px;
        padding-bottom: 0px;
    }
}

  @media (max-width: 600px) {
    .footer-container {
      width:100vw;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .col-sm{
      font-size:11px;
      width: 100%;
    }
  }