.navbar-container {
  display: grid;
  justify-content:center;
  align-items: center;
  font-family: 'Arial Narrow Bold', sans-serif;
  padding: 0px;
  background-color: var(--background-navbar);
  transition: all .5s;
}

.box-logo {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  align-items: center;
}

.logo {
  display: flex;
}

.btn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.btn-btn:hover {
  font-weight: 750;
  font-size: 16px;
}
.nav > .nav-links > a {
  color: var(--text-primary);
}
.nav > .nav-links > a:hover {
  color: #B00000;
} 
.icon-theme {
  color: #B00000;
  background-color: var(--background-navbar);
}
.icon-theme:hover {
  color: var(--text-primary);
}

.nav > #nav-check {
  display: none;
}

.theme {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: 25px;
}

.icon-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.2 );
}

@media (min-width: 1200px) {
  .navbar-container {
    position: fixed;
    width: 10vw;
    height: 100vh; 
  }
  .nav {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-primary);
  }
  .nav-header {
    display: inline;
  }
  .nav > .nav-links {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: -100px; 
  }
  .nav > .nav-links > a {
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 10px 50px 10px;
    text-decoration: none;
  }
  #contact {
    border-radius: 10px;
    width: 100px;
    justify-content: center;
  }
  .logo {
    display: flex;
    width: 40%;
    height: 50px;
    margin-top: -50px;
  }
  .theme-1 {
    display: none;
  }
  .theme-2 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-left:80px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  
}

@media (max-width: 991px) and (min-width: 768px) {
  
}

@media (max-width: 1279px) and (min-width: 720px) {
  .navbar-container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    height: 100px;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
  }
  .nav > .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    gap: 0.8rem;
    margin-left: 10px;
    text-decoration: none;
  }
  .nav > .nav-links > a {
    text-decoration: none;
  }
  .logo {
    display: flex;
    width: 50%;
    height: 50px;
    margin-left: -20px;
  }
  .theme-1 {
    display: none;
  }
  .theme-2 {
    margin-left: 30px;
  }
}

@media (max-height: 1024px) and (max-width: 768px) {
  .navbar-container {
    display: flex;
    flex-direction: column;
    width: 98vw;
    min-height: 13vh;
  }
  .nav {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .navbar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 14vw;
    min-height: 100vh;
  }
  .nav {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav > .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 15px;
  }
  .nav > .nav-links > a {
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    padding: 10px 0px 50px 10px;
    text-decoration: none;
  }
  .logo {
    display: flex;
    width: 50%;
    height: 40px;
    margin-left: 0px;
  } 
  .theme-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
  }
  .icon-theme {
    margin-left: 20px;
  }
}

@media (max-width:600px) {
  .navbar-container {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
  }
  .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav > .nav-btn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 15px;
    width: 35%;
    gap: 1.8rem;
  }
  .nav > .nav-btn > label {
    display: flex;
    flex-direction: column; 
    width: 3rem;
    height: 3rem;
    gap: .60rem;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  .nav > .nav-btn > label > div {
    display: block;
    width: 100%;
    height: 2px;
    border-top: 5px solid var(--hover);
    transition: all .5s;
    transform-origin: left;
  }
  .nav-check:hover div:first-child {
    transform: rotate(45deg);
  }
  .nav-check:hover div:nth-child(2) {
    opacity: 0;
  }
  .nav-check:hover div:last-child {
    transform: rotate(-45deg);
  }
  .nav > .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.15s ease-in;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 85px;
    left: 0px;
    background-color: var(--background-navbar);
    transition: all .5s;
  }
  .nav > .nav-links > a  {
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    transition: all .5s;
  }
  .nav > .nav-links > a:hover {
    transform: scale(1.1);
    color: #B00000; 
  }
  .nav > #nav-check:active ~ .nav-links {
    height: 100%;
    transition: all .5s;
  }
  .nav > #nav-check:not(:active) ~ .nav-links {
    height: 0px;
    transition: all .5s;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(35vh - 40px);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all .5s;
  }
  .navbar-container {
    padding: 0px 0px 0px 0px;
  }
  .logo {
    display: flex;
    width: 60%;
    height: 50px;
    margin-left: -30px;
  }
  .theme-2 {
    display: none;
  }
  .theme-1 {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-left: -20px;
  }
  .icon-theme {
    width: 45px;
    height: 45px;
  }
}

@media (max-height: 600px) and (max-width: 400px) {
  .nav > .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;
    transition: all 0.15s ease-in;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 75px;
    left: 0px;
    background-color: var(--background-navbar);
    transition: all .5s;
  }
  .nav > .nav-links > a  {
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    transition: all .5s;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(32vh - 40px);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all .5s;
  }
}






