.skills-container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    background-color: var(--background);
    transition: all .5s;
}

.box-icons {
    display: grid; 
    width: 60vw;
    gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr)); 
    margin-top: 20px;
}

.title-icon {
    font-weight: 700;
    color: var(--text-primary);
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    color: #B00000; 
}

.icon:hover {
    transform: scale(1.1);
    color: var(--hover);
}

@media (min-width: 1200px) {
    .skills-container {
        width:89vw;
        margin-left: 149.5px;
    }
    .box-icons {
        margin-bottom: 100px;
    }
}

@media (max-width:600px) {
    .skills-container {
        width: 100%;
    }
    .box-icons {
        margin-top: 50px;
        margin-bottom: 150px;
        width: 100%;
        gap: 0.1rem;
    }
    .icon {
        margin: 5px;
    }
}