.skills-container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    background-color: var(--background);
    transition: all .5s;
}

.box-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: flex-start;
}

.box-frontend, .box-backend, .box-others {
    width: 30%;
    display: grid;
    justify-content: center;
    background-color: var(--background-navbar);
    border-radius: 20px;
    padding: 5px;
}

.box-title {
    font-size: 30px;
    height: 30%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--background);
    -webkit-text-stroke: 1.5px var(--text-primary);
}

.icons {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr); 
}

.title-icon {
    font-weight: 700;
    color: var(--text-primary);
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    color: #B00000; 
}

.icon:hover {
    transform: scale(1.1);
    color: var(--hover);
}

@media (min-width: 1200px) {
    .skills-container {
        width:89vw;
        margin-left: 149.5px;
    }
    .box-icons {
        margin-bottom: 100px;
        width:89vw;
    }
}

@media (max-width: 1279px) and (min-width: 720px) {
    .skills-container {
        width:100%;
        margin-top: 150px;
    }
    .box-icons {
        width: 100%;
        margin-bottom: 150px;
        gap: 0.5rem;
    }
}

@media (max-height: 1024px) and (max-width: 768px) {
    .skills-container {
        width: 98vw;
      min-height: 100vh;
      padding-top: 150px;
      margin-top: 0px;
    }
    .box-icons {     
        gap: 1rem;
        width: 100%;
        margin-top: -30px;
    }
  }

@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .skills-container {
        width: 85.8vw;
        height: 100vh;
        margin-left: 140px;
        margin-top: 0px;
        padding-top: 150px;
    }
    .box-icons {     
        gap: 0rem;
        width: 700px;
        margin-top: -100px;
    }
}

@media (max-width:600px) {
    .skills-container {
        width: 100%;
        margin: 0px;
        padding-top: 0px;
    }
    .box-icons {
        margin-top: 50px;
        margin-bottom: 150px;
        width: 100%;
    }
    .icon {
        margin: 5px;
    }
}

@media (max-height: 600px) and (max-width: 400px) {
    .skills-container {
        min-height: 90vh;
    }
    .icon {
        margin: 5px; 
    }
    .box-icons {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        width: 100%;
    }
    .box-frontend, .box-backend, .box-others {
        width: 80%;
    }
}

@media (max-height: 400px) and (max-width: 600px) {
    .skills-container {
      width: 100%;
      min-height: 100vh;
      margin-left: 0px;
    }
  }