body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #f3f3f3;
  --background-navbar:#cdcdcd;
  --text-primary: black;
  --icon: rgb(176, 0, 0);
  --hover: #000000;
  --hover2: rgba(120, 1, 1, 0.9);
  --form-contact: #e8e8e8;
  --background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(./assets/img/fondos/white.jpg);
}
[data-theme='dark'] {
  --background: #181818;
  --background-navbar:rgb(10, 10, 10);
  --text-primary: white;
  --icon: #B00000;
  --hover: #FFFFFF;
  --hover2: rgba(120, 1, 1, 0.9);
  --form-contact: #0e0e0e77;
  --background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assets/img/fondos/black2.jpg);;

}